body {
    background: rgb(122, 13, 105);
    background: linear-gradient(90deg, rgba(122, 13, 105, 1) 0%, rgba(230, 32, 142, 1) 100%);
    background-image: url(./../Img/cool-background.png);
    background-repeat: no-repeat;
    min-height: 110vh;
    background-size: cover;
    font: 14px/20px "Lato", Arial, sans-serif;
    color: repeating-linear-gradient(red, yellow 10%, green 20%);
    margin-top: 30px;
}
.container {
    position: relative;
    display: flex;
    width: 100%;
    margin: auto;
}

.title {
    padding: 20px;
}

span {
    line-height: 1;
    padding: 0 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: rgb(122, 13, 105);
    background: linear-gradient(90deg, rgba(122, 13, 105, 1) 0%, rgba(230, 32, 142, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s ease-out;

}

.sgpa {
    font-variant: small-caps;
    letter-spacing: 5px;
    font-weight: bolder;
    font-size: 180px;
}

.to,
.calci {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.percent {
    font-variant: small-caps;

    letter-spacing: 6px;
    font-weight: bolder;
    font-size: 90px;
}

.calci {
    font-variant: small-caps;
}
.calculator-container {
    position: absolute;
    display: inline-block;
    top: 100px;
    background-color: #FDF5DF;
    right: 50px;
    margin: 30px;
    padding: 40px;
    border: 1px solid saddlebrown;
    border-radius: 20px;
    height: auto;
    width: 800px;
    text-align: center;
}

.calculator {
    padding: 20px;
    border-radius: 18px;
    background-color: #EBA63F;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.num-bar {
    background-color: rgba(255, 250, 240, 0.337);
    border: 2px solid rgb(222, 148, 94);
    border-radius: 8px;
    display: block;
    width: 60%;
    height: 50px;
    margin: 10px auto;
    text-align: center;
    font-size: 20px;
}

.answer {
    font-weight: bold;
    text-align: center;
    font-size: larger;
}

.btn {
    display: block;
    margin: 10px auto;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: larger;
    background-color: rgb(210, 90, 30);
}

.btn:hover {
    cursor: pointer;
    opacity: 0.8;


}

@media screen and (max-width: 768px) {

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title span {
        font-family: initial;
        font-size: 50px;
    }

    .calculator-container {
        position: relative;
        right: inherit;
        width: 80%;
        margin: 0;
        display: block;

    }

}